#main {
    width: 100%;
    height: 2250px;
    background-color: #f6f1f1;
}
#mainsection {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    height: 2200px;
}

.logo {
    width: 100%;
    height: 100px;
    background-color: #3f3a3a;
}

.logo h1 {
    float: left;
    padding top: 0px;
    padding-left: 20px;
    padding-bottom: 15px; 
    color: #f1f119;
    font-size: 45px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.logo2 {
    float: right;
    color: #b3acac;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.logo2 p {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.splash {
    background: url(../images/big_img.jpg); 
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.splash p {
    float: left;
}

.brief {
    height: 200px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #2f2d2d;  
}

.brief p {
    color: lightgray;
    font-size: 20px;
}

.trio {
    height: 200px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #2f2d2d;
    text-align: center;
}

.trio p {
    color: lightgray;
    font-size: 20px;
    text-align: center;
}

.triobox {
    width: 28%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.invert1 {
    height: 300px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #2f2d2d;
}

.invertbox {
    width: 40%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

.invertbox p {
    color: lightgray;
    font-size: 20px;
}

.invert2 {
    height: 300px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #2f2d2d;
}